<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <img src="{{ img }}" alt="" width="120px">
        </ion-title>
    </ion-toolbar>
</ion-header>
<!--ejecituva-->
<ion-content padding class="background1">
    <div class="title pt18">
        CÓDIGO DE ETICA Y BUEN MANEJO DE RED
        <h1>asdad</h1>
    </div>
    <ion-list>
        <ion-card>
            <img src="../../../assets/images/comp/1.png" alt="">
            <ion-card-header>
                <ion-card-title class="text-b pt15">MISIÓN</ion-card-title>
            </ion-card-header>
            <ion-card-content class="text-a pt12">
                Ser una empresa comprometida con el cuidado de la salud, que es el don más preciado de todo individuo y distinguirnos mediante la calidad de nuestros productos hechos a base de ingredientes 100% naturales y brindar a las personas la posibilidad de obtener
                ingresos extras o que formen su propio negocio al hacerlos participes de la distribución de nuestros productos al capacitarlos como distribuidores independientes en mercadeo en redes.
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title class="text-b pt15">VISIÓN 2017-2020</ion-card-title>
            </ion-card-header>
            <ion-card-content class="text-a pt12">
                Ser una empresa reconocida y preferida por usuarios de suplementos alimenticios. Llegar a ser el proveedor número uno en México y consolidar la apertura del mercado en Estados Unidos de América por medio de: liderazgo, capacitación constante de nuestro
                personal y la alta calidad de nuestros productos.
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title class="text-b pt15">VALORES</ion-card-title>
            </ion-card-header>
            <ion-card-content class="text-a pt12">
                En HGC consideramos los siguientes valores indispensables para el crecimiento de la empresa:
                <ul>
                    <li>Lealtad</li>
                    <li>Dedicación</li>
                    <li>Equidad</li>
                    <li>Respeto</li>
                    <li>Trabajo en Equipo</li>
                    <li>Responsabilidad</li>
                </ul>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title class="text-b pt15">¿Quiénes pueden ser distribuidores HGC?</ion-card-title>
            </ion-card-header>
            <ion-card-content class="text-a pt12">
                Cualquier persona mayor de edad (18 años) sin importar su género, grado de estudios o creencia ya que solo se les pide que estén interesadas en consumir los productos o venderlos, personas inversionistas o emprendedoras que les interese tener un excelente
                negocio, las personas que quieran generar ingresos extras por la venta de productos Alimenticios y Cosmetológicos por catálogo, a estas personas se les pide cumplir con lo siguiente:
            </ion-card-content>
        </ion-card>
        <ion-card>
            <img src="../../../assets/images/comp/17.png" alt="">
            <ion-card-header>
                <ion-card-title class="text-b pt15">REQUISITOS:</ion-card-title>
            </ion-card-header>
            <ion-card-content class="text-a pt12">
                <ul>
                    <li>Presentar identificación oficial vigente con fotografía (Credencial INE/IFE, Pasaporte, Cedula Profesional, Cartilla del Servicio Militar o documento migratorio que corresponda).</li>
                    <li>Presentar su CURP (Clave Única de Registro de Población).</li>
                    <li>Adquirir cualquiera de los kits de inicio (kit sport o kit básico) o comprar su caja de activación la cual le otorgara directamente y solamente al nuevo Distribuidor Independiente su contrato.</li>
                    <li>Comprobante de Domicilio no mayor a 2 meses de emisión (Teléfono, Agua, CFE).</li>
                    <li>Cumplir con el llenado completo y firma del contrato de Distribuidor Independiente HGC confirmando en el quien será su patrocinador el cual no podrá ser modificado, HGC asignará un patrocinador a aquellos nuevos ingresos que no conocen
                        a distribuidores cerca que los puedan orientar después de un mes de estar inscritos. En caso de que se reconozca a algún distribuidor como patrocinador, deberá notificarlo a la empresa antes de la asignación, pues no podrá solicitar
                        su cambio de patrocinador a menos que se cumpla con lo establecido en el Código de Ética. </li>
                </ul>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title class="text-b pt15">EXCLUSIONES:</ion-card-title>
            </ion-card-header>
            <ion-card-content class="text-a pt12">
                En el caso de generar comisiones o regalías se le solicitará una cuenta bancaria y su CLABE interbancaria BBVA. También pueden ser de otros bancos asociados a la CONDUSEF excepto: Bancoppel, Banco Famsa, Banco Azteca u otros similares que no brindan la
                garantía en los traspasos bancarios).
                <br /><br /> Los menores de 18 años no pueden ser distribuidores HGC por exclusiones del contrato mercantil y de acuerdo al marco jurídico de los Estados Unidos Mexicanos.
                <br /><br />
                <span class="text-a pt14" style="font-weight: bold;">Formación de la comisión de ética y buen manejo de red</span> A) La comisión de Ética y Buen Manejo de Red es integrada por 4 supervisores del Corporativo HGC, asesorados por Abogados
                y personal jurídico externo con el fin de brindarles un mejor servicio y atención.
                <br /> B) Dicha comisión será asesorada legalmente por un departamento jurídico externo con la finalidad de salvaguardar los intereses correspondientes.
                <br /> C) Los correos serán revisados y analizados por la comisión de Ética y Buen Manejo de Red de acuerdo a lo reportado. Cabe señalar que la comisión trabajará en mantener el orden, la disciplina y el sano trabajo en equipo dentro de
                la empresa con el fin de que los lineamientos, códigos y políticas se cumplan y se respeten, generando un agradable entorno y sana competencia.
                <br /> D) HGC no apoyará a ningún Distribuidor Independiente HGC que no cumpla con las leyes de los Estados Unidos Mexicanos, el contrato, el presente.
            </ion-card-content>
        </ion-card>
        <ion-card>
            <img src="../../../assets/images/comp/8.png" alt="">
            <ion-card-header>
                <ion-card-title class="text-b pt15">DECLARACIONES:</ion-card-title>
            </ion-card-header>
            <ion-card-content class="text-a pt12">
                HGC es una marca debidamente registrada ante las autoridades mexicanas de productos: Alimenticios, Suplementos, Complementos Alimenticios y Cosméticos.
                <br /><br /> HGC y sus submarcas de sus productos cumplen con las leyes y normatividades de los Estados Unidos Mexicanos al cumplir con la NOM-251-SSA1-2009 referente a prácticas de higiene para el proceso de Alimentos, Bebidas o Suplementos
                Alimenticios. También obtuvimos los registros FDA para la comercialización de productos Alimenticios y Suplementos en los Estados Unidos de América, así como tenemos el proceso de Certificación en Seguridad Alimentaria HACCP para la exportación
                o elaboración de suplementos, complementos o productos alimenticios en Norte América.
                <br /><br /> Código de Ética y las disposiciones anexas con nexo al mismo ante ninguna autoridad y el Distribuidor Independiente HGC responderá por sí mismo y siempre sacando a salvo a: HGC, la empresa, sus productos e imagen ya que de
                no hacerlo es motivo de baja y rescisión del contrato de Distribuidor Independiente HGC, la Comisión de Ética y Buen Manejo de Red tendrá facultad para decidir si compacta o mueve la red de dicho Distribuidor Independiente HGC a otro patrocinio
                según se determine. HGC podrá actuar legalmente en contra del Distribuidor Independiente HGC si este actuó con dolo al momento de firmar el contrato de Distribuidor Independiente HGC o deliberadamente atenta o actúa contra la empresa en
                cualquier momento, ya sea contra sus: trabajadores, bienes, derechos, propiedades, información o imagen.
                <br /><br /><br />
                <span class="text-a pt14" style="font-weight: bold;">*Acerca de los Distribuidores Independientes HGC.</span>
                <br /> Todos los Distribuidores Independientes HGC son personas comerciantes individuales y nunca se considerarán como empleados o subordinados de HGC y no tienen autoridad alguna sobre: la marca, sus bienes, sus derechos, sus productos
                ni ningún otro ya que estos pertenecen exclusivamente a la empresa. La relación creada al ser Distribuidor Independiente HGC es meramente mercantil y nunca se expresará que son: trabajadores, ni empleados o subordinados de HGC ante terceros.
                HGC se deslinda de toda responsabilidad laboral o responsabilidad no cumplida por la persona ante las autoridades municipales, estatales y federales por la actividad del Distribuidor Independiente HGC.
                <br /><br /> Los Distribuidores Independientes HGC son responsables del buen manejo de los productos evitando su contaminación, así como cumplir con los lineamientos de la autoridad para el buen manejo de alimentos y buenas prácticas de
                higiene y presentación. Los Distribuidores Independientes HGC son personas que siempre contarán con un sólo y único patrocinio (persona que los invito a formar parte de HGC) por lo que es de suma importancia poner correctamente el nombre
                de dicho patrocinador en la caratula del contrato mercantil o cupón y enviar su información completa (requisitos). HGC nunca promoverá el cambio de patrocinadores, más se reserva el derecho de actuar en ello para beneficio de la marca,
                la venta de los productos y mejorar el servicio y buen desempeño de las redes de distribución poniendo dentro del presente Código los lineamientos para su aplicación. Este Código de Ética se elabora con la finalidad de otorgar derechos
                y obligaciones entre HGC y el Distribuidor Independiente HGC exclusivamente derivados de la relación comercial establecida en el contrato mercantil de Distribuidor Independiente HGC, por lo que se enuncian las siguientes:
            </ion-card-content>
        </ion-card>
        <ion-card>
            <img src="../../../assets/images/comp/3.jpg" alt="">
            <ion-card-header>
                <ion-card-title class="text-b pt15">CLAUSULAS:</ion-card-title>
            </ion-card-header>
            <ion-card-content class="text-a pt12">
                <ol>
                    <li>Los Distribuidores Independientes HGC están autorizados para distribuir, comercializar o vender los productos de la marca HGC y sus sub-marcas asociadas observando los lineamientos del presente código y todas sus cláusulas.</li>
                    <li>Los Distribuidores Independientes HGC observarán, respetarán y acatarán todas las normas de conducta, políticas y lineamientos que se mencionan en este documento, así como futuras actualizaciones complementos o modificaciones que la
                        empresa añada al mismo.</li>
                    <li>Los Distribuidores Independientes HGC tienen el derecho y obligación de informar cualquier irregularidad que perjudique a la empresa.</li>
                    <li>Los Distribuidores Independientes HGC podrán obtener ganancias directas de la venta de los productos a precio público (según la lista de precios autorizada por la empresa y vigente a la fecha de la venta).</li>
                    <li>Los Distribuidores Independientes HGC podrán comisionar y tener derecho a regalías si cumple con la activación mensual y se acumulan dentro del mismo periodo compras hechas por sus frontales o asociados de red, cumpliendo con los lineamientos
                        del plan de negocios.</li>
                    <li>Los Distribuidores Independientes HGC tienen el derecho de tomar sus propias decisiones: comerciales, financieras o de inversión, fiscales o legales ya que dirigen su propio negocio.</li>
                    <li>Los Distribuidores Independientes HGC tienen derecho de acudir al SAT y darse de alta en alguna actividad empresarial si así conviene a sus intereses.</li>
                    <li>Los Distribuidores Independientes HGC podrán solicitar a la empresa que ésta les timbre sólo sus recibos como comisionistas y aplique las retenciones ISR que le correspondan al SAT.</li>
                    <li>Los Distribuidores Independientes HGC no tendrán territorios establecidos ni por su geografía ni de ninguna otra, siempre y cuando se respeten los lineamientos de este código y las leyes aplicables dentro de la República Mexicana o
                        país donde se venda el producto.</li>
                    <li>Los Distribuidores Independientes HGC con grado activo podrán heredar su red en caso de su fallecimiento. El beneficiario puede ser un: familiar directo que se enuncien como tal en su contrato mercantil de Distribuidor Independiente
                        HGC siempre y cuando sea mayor de edad y pueda cumplir con los lineamientos establecidos en dicho contrato y en el presente código, para ello el beneficiario mayor de 18 años presentará: Acta de defunción del Distribuidor fallecido,
                        identificación oficial vigente y llenar formato de beneficiario heredado que otorga la Comisión de Ética y Buen Manejo de Red, dicha comisión revisará lo acontecido y si está todo en regla podrá confirmar cualquier derecho a comisiones
                        o regalías no pagadas después de 30 días o en el periodo de venta próximo según se determine por la misma comisión.</li>
                    <li>Los Distribuidores Independientes HGC tendrán asignado un NUD (Número Único de Distribuidor) el cual proporciona también una clave para que el distribuidor acceda por internet a la Oficina Virtual (base de datos, plataforma digital)
                        la cual contiene información de sus compras, frontales, asociados de red y comisiones. Dichos accesos deben ser solicitados al Corporativo de HGC. Los accesos solamente se darán a su distribuidor propietario.</li>
                    <li>Los Distribuidores Independientes HGC podrán obtener promociones exclusivas de producto o publicidades según la empresa publique dichos beneficios a través de sus canales de comunicación y sólo serán válidos según la cantidad autorizada
                        o vigencia de dichas promociones publicadas.</li>
                    <li>Los Distribuidores Independientes HGC podrán crecer lo que ellos quieran de acuerdo a la venta de sus productos y/o a la invitación de nuevos Distribuidores Independientes HGC, la empresa pagará de acuerdo al plan de negocios los 5
                        niveles correspondientes siempre y cuando se cumplan los lineamientos de dicho plan de negocios.</li>
                    <li>Los Distribuidores Independientes HGC podrán invitar a todas las personas que conozcan los productos HGC y quieran consumirlos siempre y cuando dichas personas no sean ya distribuidores y pertenezcan a otras redes.</li>
                    <li>Los Distribuidores Independientes HGC podrán invitar a todas las personas que quieran invertir en el negocio de la compra venta de los productos HGC siempre y cuando dichas personas no sean ya distribuidores y pertenezcan a otras redes.</li>
                    <li>Los Distribuidores Independientes HGC podrán realizar eventos de difusión o capacitación acerca de los productos HGC en los lugares que les permitan hacerlo siempre y cuando muestren respeto y cuiden la imagen de la marca HGC, sus
                        productos y submarcas.</li>
                    <li>Los Distribuidores Independientes HGC podrán asistir a eventos de otros distribuidores o asociados de red siempre y cuando tengan un vínculo de pertenecer a la misma red de acuerdo a sus 5 niveles.</li>
                    <li>Los Distribuidores Independientes HGC podrán organizarse para hacer eventos de capacitación, degustación, venta o recomendación de los productos HGC masivos o multitudinarios siempre y cuando se avise a la Comisión de Ética y buen
                        manejo de red y ésta acepte el evento por lo que se solicita avisen 30 días antes por escrito: el motivo del evento, quienes serán los organizadores, la fecha, hora y duración del evento a través del email: etica.hgc@gmail.com.
                        La Comisión de Ética y Buen Manejo de Red determinara en 3 días hábiles si es factible o no lo solicitado y los Distribuidores Independientes acatarán la decisión tomada.</li>
                    <li>Los Distribuidores Independientes HGC con grado activo podrán solicitar al corporativo se les apoye con anuncios y difusión de sus eventos 22 días antes a través de los medios de comunicación y difusión que maneja la empresa al solicitarlo
                        a través del email: etica.hgc@gmail.com. La Comisión de Ética y Buen Manejo de Red determinará en 3 días hábiles si es factible o no lo solicitado y responderán a los Distribuidores Independientes sí se les puede apoyar y como.</li>
                    <li>Los Distribuidores Independientes HGC pueden solicitar material de apoyo y publicidad para algún evento especial a través del email: etica.hgc@gmail.com 30 días antes del evento. La Comisión de ética y buen manejo de red determinara
                        en 3 días hábiles si es factible o no lo solicitado y si la empresa puede apoyar o no a los Distribuidores Independientes o brindar otras alternativas.</li>
                    <li>En caso de que los Distribuidores Independientes HGC no cumplan los convenios del Plan Yo soy HGC aparte de quitar los beneficios, la empresa procederá conforme las penalizaciones de dichos Contratos de Auto o de los Seguros y se analizará
                        la situación por parte de la Comisión de Ética y Buen Manejo de Red para determinar cualquier otra sanción conforme la cláusula 36 y los incisos de este código.</li>
                    <li>Los Distribuidores Independientes HGC no acosarán de ninguna forma a otros distribuidores independientes ya que de hacerlo podrán ser sancionados por la Comisión de Ética y Buen Manejo de Red conforme la cláusula 36 y sus incisos.</li>
                    <li>Los Distribuidores Independientes HGC no difamarán o injuriarán a otros Distribuidores Independientes HGC ya que de hacerlo podrán ser sancionados por la Comisión de Ética y Buen Manejo de Red según la cláusula 36 y sus incisos</li>
                    <li>Los Distribuidores Independientes HGC no amenazarán ni causarán lesiones a otros Distribuidores Independientes HGC ya que de hacerlo podrán ser sancionados por la Comisión de Ética y Buen Manejo de Red según la cláusula 36 y sus incisos.</li>
                    <li>Los Distribuidores Independientes HGC no robarán ni defraudarán a otros Distribuidores Independientes HGC ya que de hacerlo y tener pruebas podrán ser sancionados por la Comisión de Ética y Buen Manejo de Red según la cláusula 36 y
                        sus incisos de este contrato y también se apoyará al Distribuidor Independiente que haya sido afectado por si decide actuar penalmente para que dicha persona sea consignada a las autoridades.</li>
                    <li>Los Distribuidores Independientes HGC que provoquen daño irreparable o quiten la vida a otros Distribuidores Independientes HGC será rescindido su contrato de Distribuidor Independiente HGC y su red se compactará inmediatamente. Lo
                        anterior se documentará por la Comisión de Ética y Buen Manejo de Red en cumplimiento de la cláusula 36 y sus incisos de este contrato y no podrán reinscribirse nuevamente. La empresa apoyará en lo que este a su alcance para que
                        dicha persona sea consignada a las autoridades.</li>
                    <li>Los Distribuidores Independientes HGC respetarán los precios de la lista de precios vigente HGC ya que de no hacerlo podrán ser sancionados por la Comisión de Ética y Buen Manejo de Red según la cláusula 36 y sus incisos de éste contrato.</li>
                    <li>Los Distribuidores Independientes HGC respetarán las publicidades que sean aprobadas por la empresa para que sean exhibidas y utilizadas ya que observan las normatividades de la autoridad y la cumplen, en caso de que el Distribuidor
                        Independiente HGC decida hacer sus propias publicidades y estas no cumplan con los lineamientos, el Distribuidor puede ser sancionado tanto por las autoridades como por la Comisión de Ética y Buen Manejo de Red según la cláusula
                        36 y sus incisos de éste contrato.</li>
                    <li>Si el Distribuidor Independiente HGC no se activa 3 meses seguidos con compras superiores a los $4,400.00 comisionables más impuestos y no tiene ninguna compra, automáticamente a través del sistema se inactivará (ver cláusula 36 B).</li>
                    <li>Si el Distribuidor Independiente HGC no se activa 3 meses seguidos con compras superiores a los $4,400.00 comisionables más impuestos (pero si tiene compras), el corporativo podrá determinar si se inactiva o no, dicho distribuidor.
                        Si cumple o pasa más de 6 meses sin compras superiores a $4,400.00 el corporativo determinará si se compacta o no, el distribuidor de acuerdo a peticiones o sistema (ver cláusula 36 A).</li>
                    <li>Si el Distribuidor Independiente HGC durante un año no realizó compras superiores a los $4,400.00 comisionables más impuestos a la empresa, se dará de baja automáticamente. En caso que el Distribuidor Independiente HGC quiera hacer
                        compras nuevamente podrá ser reasignado a otro patrocinio, ya que es responsabilidad del patrocinador esforzarse por conseguir que la persona realice labor de venta para la recomendación de los productos mes con mes. El Distribuidor
                        Independiente HGC que solicite el moverse de patrocinio después del año tendrá que revisar a detalle el Protocolo HGC y seguir lo establecido sin omitir pasos.</li>
                    <li>Es obligación de los Distribuidores Independientes HGC el preocuparse por estarse activando mes con mes. Para los casos de enfermedad o causas de fuerza mayor se les pide informen por escrito y muestren evidencia a la comisión de Ética
                        y Buen Manejo de Red del porque no se activaron para tener justificación y a criterio de la comisión se podrán evitar las compactaciones o inactivaciones cual fuere el caso. Favor de enviar la información a través del correo: etica.hgc@gmail.com</li>
                    <li>El Distribuidor Independiente HGC de nuevo ingreso que tenga familiares inscritos ya en la empresa, formará parte de la misma estructura de red, sin oportunidad de poder inscribirse en una organización diferente.</li>
                    <li>Si un distribuidor solicita a la empresa voluntariamente la recesión de su contrato (baja) y de acuerdo a las acciones del solicitante, la Comisión de Ética y Buen Manejo de Red determinará si su línea familiar podrá seguir siendo
                        parte de HGC. Cabe mencionar que al solicitar su baja, se podrá reinscribir nuevamente a HGC después de cumplir un año de inactividad (esto de acuerdo a los términos que se llego con la empresa al solicitar la recesión). </li>
                    <li>El Distribuidor Independiente HGC se abstendrá de conspirar contra la empresa, la marca HGC o cualquiera de sus productos ya que de tener pruebas la empresa de lo anterior, podrá ser sancionado según la gravedad y el daño causado de
                        acuerdo a la cláusula 36 y sus incisos.</li>
                    <li>A continuación, se presentan las sanciones que la Comisión de Ética y Buen Manejo de Red, podrán utilizar en caso de que se presente una situación que lo a merite:
                        <ul>
                            <li>Compactar al Distribuidor Independiente HGC, quiere decir que su red será removida (frontales y asociados que estén debajo de esa persona o NUD) y el patrocinador (persona que estaba arriba de él) se quedará con dicha red.</li>
                            <li>Inactivar al Distribuidor Independiente HGC, quiere decir, que su NUD permanecerá fuera de la práctica mercantil como distribuidor (pero aún estará inscrito), provocando que el usuario no pueda hacer uso de los beneficios que
                                conlleva ser parte de la familia HGC. Si se desea activar es necesario comunicarse al corporativo y solicitar su reactivación (se le pedirá que realice una compra mínima y al ser nuevamente distribuidor activo, quedará
                                con su mismo patrocinador en la misma red).</li>
                            <li>Las comisiones generadas en cierto(s) periodo(s) podrán ser congeladas (guardadas o no entregables) durante el tiempo que la comisión de Ética y Buen Manejo de Red lo determine.</li>
                            <li>Notificar o reportar por escrito a los Distribuidores Independientes HGC cuando comentan una falta al Código de Ética, cabe mencionar que al ser acreedor a tres reportes el Distribuidor será suspendido o dado de baja definitivamente.</li>
                            <li>Rescisión del contrato de Distribuidor Independiente HGC.</li>
                            <li>Mover la red a otro patrocinio de acuerdo a lo que determine la Comisión de Ética y Buen Manejo de Red.</li>
                            <li>Congelar redes del Distribuidor Independiente HGC al no cumplir con los lineamientos del Código de Ética o Plan de negocios HGC, por lo cual la empresa no pagará las comisiones o regalías de dicha red.</li>
                            <li>Consignar ante las autoridades y proceder penalmente contra el Distribuidor Independiente HGC que atenten en contra de la integridad del distribuidor ya sea que los involucrados sean de su propia organización o ajena a ésta.</li>
                            <li>Consignar ante las autoridades y proceder penalmente contra el Distribuidor Independiente HGC.</li>
                        </ul>
                    </li>
                    <li>En caso de no ser leal a vender los productos de la marca HGC y promocionar otros productos similares o de la competencia, la empresa se reservará el derecho de no venderle producto a dicha persona, y se actuará según lo determine
                        la Comisión de Ética y Buen Manejo de Red."</li>
                    <li>En caso de que haya desacato o no den cumplimiento los Distribuidores Independientes HGC a las determinaciones de la comisión de Ética y Buen Manejo de Red se dará por terminado el Contrato Mercantil entre el Distribuidor Independiente
                        HGC y la empresa.</li>
                    <li>En caso de que haya reestructuras de red por mutuo acuerdo entre las partes involucradas y dicha reestructura haya sido autorizada por la Comisión de Ética y Buen Manejo de Red se cobrarán $2500.00 pesos por persona reestructurada.
                        Cuando sean redes completas se hará un análisis por el Ingeniero en Sistemas, el cual determinará el monto a cobrar según el tamaño y proporción de la reestructura.</li>
                    <li>El Distribuidor Independiente HGC respetará al personal que labora en la empresa HGC. Se abstendrán de hacer amenazas, causar lesiones, acosar de alguna forma o difamar a los mismos, ya que de hacerlo podrán ser sancionados por la
                        Comisión de Ética y Buen Manejo de Red conforme la cláusula 38 y sus incisos, además, podrá ser asignado a las autoridades correspondientes pudiendo proceder legalmente de ser necesario.</li>
                </ol>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
<ion-tab-bar slot="bottom">
    <ion-tab-button (click)="navigate2('inicio')">
        <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="log==1" (click)="navigate2('carrito')">
        <img *ngIf="user.tipo==2" src="../../../assets/images/rosa/FRONT/HGC_RZAPATILLA.png" style="width: 100%; max-width: 35px;" alt="">
        <ion-icon *ngIf="user.tipo!=2" name="cart-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="log==1" (click)="navigate2('busqueda')">
        <ion-icon name="search"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="log==1" (click)="navigate2('favoritos')">
        <ion-icon name="heart"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="letra(-1)">
        <ion-icon name="remove-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="letra(1)">
        <ion-icon name="add-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="log" (click)="abrirlibro()">
        <ion-icon name="book-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="log" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
    </ion-tab-button>
</ion-tab-bar>