<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-menu contentId="content1" side="end">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>
          <img src="../assets/images/logo.png" alt="" width="25%">
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>

          <ion-item (click)="navigate('noticias')"><ion-icon name="newspaper-outline"></ion-icon>
            &nbsp;&nbsp;Noticias</ion-item>

        <ion-item href="http://sistemasoluciones.dyndns.org:8081/"><ion-icon name="globe-outline"></ion-icon>
          &nbsp;&nbsp;Espacio Virtual</ion-item>
          <br>
          <br>
          <p style="padding-left:10px;font-weight: bold;">Siguenos</p>
        <ion-item href="https://www.youtube.com/user/HerbalGiveCareAgs"><ion-icon name="logo-youtube"></ion-icon>
          &nbsp;&nbsp;YouTube</ion-item>
        <ion-item href="https://www.facebook.com/hgc.corporativo?fref=search&__tn__=%2Cd%2CP-R&eid=ARAlHbo30DNdqOCi281791xSnsIXpPEvMfYU1T0njUmRKnU-Rm164JzZxNmjZzB0ltT7kkcbsvPnVyFf"><ion-icon name="logo-facebook"></ion-icon>
          &nbsp;&nbsp;Facebook</ion-item>
        <ion-item href="#"><ion-icon name="logo-twitter"></ion-icon>
          &nbsp;&nbsp;Twitter</ion-item>
        <ion-item href="https://www.instagram.com/hgcoficial/"><ion-icon name="logo-instagram"></ion-icon>
          &nbsp;&nbsp;Instagram</ion-item>
        <ion-item href="https://wa.me/message/IWCLLCHAAEWJE1"><ion-icon name="logo-whatsapp"></ion-icon>
          &nbsp;&nbsp;Whatsapp</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>
