<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="{{ img }}" alt="" width="120px">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user.tipo" padding class="background1">
  <div class="title pt18">
    CONFIRMACIÒN
  </div>
  <ion-list>
    <ion-card>
      <ion-card-content class="text-a pt20 ion-text-center">
       <ion-icon class="pt31" name="checkmark-circle-outline"></ion-icon><br />
            pedido enviado<br />
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<ion-content *ngIf="!user.tipo" padding class="background1">
  <div class="title pt18">
    CONFIRMACIÒN
  </div>
  <ion-list>
    <ion-card>
      <ion-card-content class="text-a pt20 ion-text-center">
        <ion-icon class="pt31" name="checkmark-circle-outline"></ion-icon><br />
            pedido enviado<br />
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
<ion-tab-bar slot="bottom">
  <ion-tab-button (click)="navigate2('inicio')">
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="navigate2('carrito')">
    <img *ngIf="user.tipo==2" src="../../../assets/images/rosa/FRONT/HGC_RZAPATILLA.png" style="width: 35px; max-width: 35px;" alt="">
    <ion-icon *ngIf="user.tipo!=2" name="cart-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="navigate2('busqueda')">
    <ion-icon name="search"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="navigate2('favoritos')">
    <ion-icon name="heart"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="letra(-1)">
    <ion-icon name="remove-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="letra(1)">
    <ion-icon name="add-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="logout()">
    <ion-icon name="log-out"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>