.text-izq{
    width: 40%;
    float: right;
}

.text-der{
    width: 40%;
    float: left;
}

.title{
    text-align: Center;
    font-family: 'Chuck';
    color:black;
}

.img-tr{
    margin-top:-30px;
}

.top-x{
    margin-top: -8px;
}
ion-grid{
    margin-bottom: 15px;
    margin-top: 15px;
}
ion-grid, ion-grid ion-row, ion-grid ion-row ion-col{
    padding:0px;
}
ion-grid img{
    height: 5px;
    margin-top: 13px!important;
}