<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="end"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="{{ img }}" alt="" width="120px">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="background1">
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img [src]="'../../../assets/images/'+ngtipo+'/HGC_GLOSARIOLINEA2.png'" alt="" width="100%" style="float:left;margin-top: 15px;transform: rotate(180deg);">
        </ion-col>
        <ion-col class='title pt20'>
          &nbsp;&nbsp;&nbsp;CATÁLOGO&nbsp;&nbsp;&nbsp;
        </ion-col>
        <ion-col>
          <img [src]="'../../../assets/images/'+ngtipo+'/HGC_GLOSARIOLINEA2.png'" alt="" width="100%" style="float:right;margin-top: 15px;">
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="top-x">
      <img src="../../../assets/images/ejecutiva/catalogo/HGC_FRONTCATALOGO.jpg" alt="">
    </div>
    <div class="img-tr">
      <img [src]="'../../../assets/images/'+ngtipo+'/catalogo/HGC_FRONTBOTONVERPROD.png'" alt="" (click)="navigate('catalogo')">
    </div> 
  </div>
  <br>
  <div>
    <br>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img [src]="'../../../assets/images/'+ngtipo+'/HGC_GLOSARIOLINEA2.png'" alt="" width="100%" style="float:left;margin-top: 15px;transform: rotate(180deg);">
        </ion-col>
        <ion-col class='title pt20'>
          &nbsp;&nbsp;&nbsp;SALUD&nbsp;&nbsp;&nbsp;
        </ion-col>
        <ion-col>
          <img [src]="'../../../assets/images/'+ngtipo+'/HGC_GLOSARIOLINEA2.png'" alt="" width="100%" style="float:right;margin-top: 15px;">
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="top-x">
      <img src="../../../assets/images/ejecutiva/salud/HGC_FRONTSALUD.jpg" alt="">
    </div>
    <div class="img-tr">
      <img [src]="'../../../assets/images/'+ngtipo+'/salud/HGC_FRONTBOTONMASINFO.png'" alt="" class="" (click)="navigate('salud')">
    </div>
  </div>
  <br>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img [src]="'../../../assets/images/'+ngtipo+'/HGC_GLOSARIOLINEA2.png'" alt="" width="100%" style="float:left;margin-top: 15px;transform: rotate(180deg);">
        </ion-col>
        <ion-col class='title pt24'>
          &nbsp;&nbsp;&nbsp;GLOSARIO&nbsp;&nbsp;&nbsp;
        </ion-col>
        <ion-col>
          <img [src]="'../../../assets/images/'+ngtipo+'/HGC_GLOSARIOLINEA2.png'" alt="" width="100%" style="float:right;margin-top: 15px;">
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="top-x">
      <img src="../../../assets/images/ejecutiva/glosario/HGC_FRONTGLOSARIO.jpg" alt="">
    </div>
    <div class="img-tr">
      <img [src]="'../../../assets/images/'+ngtipo+'/glosario/HGC_FRONTBOTONMASINFO.png'" alt="" (click)="navigate('glosario')">
    </div>
    <br><br>
  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button (click)="navigate2('inicio')">
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="navigate2('carrito')">
    <img *ngIf="user.tipo==2" src="../../../assets/images/rosa/FRONT/HGC_RZAPATILLA.png" style="width: 35px; max-width: 35px;" alt="">
    <ion-icon *ngIf="user.tipo!=2" name="cart-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="navigate2('busqueda')">
    <ion-icon name="search"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="navigate2('favoritos')">
    <ion-icon name="heart"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="letra(-1)">
    <ion-icon name="remove-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="letra(1)">
    <ion-icon name="add-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="abrirlibro()">
    <ion-icon name="book-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="logout()">
    <ion-icon name="log-out"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>