.title{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: Center;
    font-family: 'Chuck';
}

.text-a{
    font-family: 'Other';
    font-weight: bold;
    text-align: justify;
}

.text-b{
    font-family: 'Other';
    text-align: center;
    font-weight: bold;
}