<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <img src="{{ img }}" alt="" width="120px">
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding class="background1">
    <div class="title pt18">
        GRADOS Y RECONOCIMIENTOS
    </div>
    <ion-list>
        <ion-card>
            <img src="../../../assets/images/ejecutiva/empresaynegocio/negocio/interior/grados/HGC_GRADOSIMG1.jpg" alt="">
            <ion-card-content class="text-b pt15 pt12 ion-text-justify">
                Si eres acreedor a algún grado, este se entregará al final de cada semestre. Queda estipulado que promociones, consignas o inversiones NO contarán libremente para generar grados, rangos ni premios semestrales, según lo que quedo estipulado en el Protocolo
                HGC en el apartado: Entrega de grados y/o reconocimientos apartados A, B, C y D, (para mayor información favor de revisarlo en el protocolo que viene más adelante en este libro). Por cada mes que te actives con algún grado o rango obtendrás
                Puntos Verdes intercambiables por producto, artículos de oficina o por parte de los viajes de reuniones para líderes. Para obtener los premios, viajes e incentivos tienes que cumplir con TODOS los requisitos y mantener una buena relación
                con tu red y con el corporativo ya que de no ser así el corporativo puede desistir de la entrega de tal premio. <br /> Para canjear los puntos como mínimo debes contar con el 50% del valor necesario, siendo negociable el
                otro 50% <br />
                <p class="text-b pt15">RECUERDA QUE LOS PUNTOS VERDES NO SON COMISIONABLES<br />
            </ion-card-content>
        </ion-card>
        <br />
        <br />
        <ion-card>
            <img src="../../../assets/images/ejecutiva/empresaynegocio/negocio/interior/grados/tablegrados.png" alt="">
            <ion-card-header>
                <ion-card-title class="text-b pt15">¿QUÉ SON LOS PUNTOS VERDES?</ion-card-title>
                <img *ngIf="user.tipo!=2" src="../../../assets/images/ejecutiva/empresaynegocio/negocio/interior/inicia/HGC_REUNLINEA.png" alt="">
                <img *ngIf="user.tipo==2" src="../../../assets/images/rosa/FRONT/HGC_RLINEAINFERIOR.png" alt="" height="5px">
            </ion-card-header>
            <img src="../../../assets/images/ejecutiva/empresaynegocio/negocio/interior/inicia/HGC_INICIAIMG2.jpg" alt="">
            <ion-card-content class="text-b pt15 pt12 ion-text-justify">
                Los puntos verdes son una herramienta de canje que te servirán como un $ monedero electrónico.<br /> Cada punto verde equivale al valor de $1 peso.<br /> Son acumulables y no caducan.<br />
            </ion-card-content>
            <!--img-->
            <ion-card-header>
                <img src="../../../assets/images/ejecutiva/empresaynegocio/negocio/interior/grados/HGC_GRADOSIMG2.png" alt="">
                <ion-card-title class="text-b pt15">¿EN QUÉ PUEDO USAR MIS PUNTOS VERDES?</ion-card-title>
                <img *ngIf="user.tipo!=2" src="../../../assets/images/ejecutiva/empresaynegocio/negocio/interior/inicia/HGC_REUNLINEA.png" alt="">
                <img *ngIf="user.tipo==2" src="../../../assets/images/rosa/FRONT/HGC_RLINEAINFERIOR.png" alt="" height="5px">
            </ion-card-header>
            <ion-card-content class="text-b pt15 pt12 ion-text-justify">
                Puedes canjearlos por accesorios de oficina, electrónicos, viajes, producto y más… para saber tu puntuación y orientación, así como canjearlos comunícate al departamento de publicidad.<br />
                <b>Nota: “el canje por producto no es comisionable”</b><br />
                <img src="../../../assets/images/ejecutiva/empresaynegocio/negocio/interior/inicia/HGC_INICIAIMG3.jpg" alt="">
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title class="text-b pt15">BENEFICIOS DE LOS NUEVOS RANGOS DE INICIO </ion-card-title>
                <img *ngIf="user.tipo!=2" src="../../../assets/images/ejecutiva/empresaynegocio/negocio/interior/inicia/HGC_REUNLINEA.png" alt="">
                <img *ngIf="user.tipo==2" src="../../../assets/images/rosa/FRONT/HGC_RLINEAINFERIOR.png" alt="" height="5px">
            </ion-card-header>
            <img src="../../../assets/images/ejecutiva/empresaynegocio/negocio/interior/grados/HGC_GRADOSIMG3.png" alt="">
            <ion-card-content class="text-b pt15 pt12 ion-text-justify">
                Importante: solo se puede participar de acuerdo al grado en el que te encuentres. para poder recibir tus rangos, grados o bonificaciones es importante te encuentres participando en los retos que estén vigentes en ese momento, o en su defecto activandose
                con 2 cajas.<br />
                <br /><br />RANGO EMPRENDEDOR<br /> Dos productos de la línea B 4x3 solo en compras personales <br>El distribuidor deberá junto con su red hasta el 5 nivel desplazador 10 cajas<br />
                <br /><br />RANGO EJECUTIVO <br /> 3 productos de la línea B 4X3 solo en compras personales <br>El distribuidor deberá junto con su red hasta el 5o nivel desplazar 20 cajas como mínimo al mes<br />
                <br /><br />RANGO LIDER<br /> Dos productos de la línea B y 1 de la línea Premier 4x3 solo en compras personales <br>El distribuidor deberá junto con su red hasta el 5o nivel desplazar 30 cajas como mínimo al mes<br /> Los productos que
                elijas como promoción serán los mismos durante todo el periodo de la promoción activa y en caso de que la empresa no cuente con el mismo producto en tu siguiente compra se te dará a elegir en producto de la misma línea según existencia.
                <br />
            </ion-card-content>
            <img src="../../../assets/images/ejecutiva/empresaynegocio/negocio/interior/inicia/HGC_INICIAIMG4.jpg" alt="">
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title class="text-b pt15">NUEVOS BENEFICIOS PARA LOS LÍDERES CON GRADO HGC</ion-card-title>
                <img *ngIf="user.tipo!=2" src="../../../assets/images/ejecutiva/empresaynegocio/negocio/interior/inicia/HGC_REUNLINEA.png" alt="">
                <img *ngIf="user.tipo==2" src="../../../assets/images/rosa/FRONT/HGC_RLINEAINFERIOR.png" alt="" height="5px">
            </ion-card-header>
            <img src="../../../assets/images/ejecutiva/empresaynegocio/negocio/interior/grados/HGC_GRADOSIMG4.png" alt="">
            <ion-card-content class="text-b pt15 pt12 ion-text-justify">
                <br /><br />GRADO ESMERALDA<br /> 2 productos de la línea B y 1 de la línea premier<br /> 4x3 solo es compras personales.<br /> El distribuidor deberá tener al menos 8 frontales activos y junto con su red hasta el 5o nivel desplazar 40
                cajas como mínimo al mes.<br />
                <br /><br />GRADO ZAFIRO<br /> 3 productos de la línea B y 2 de la línea Premier<br /> 4x3 solo en compras personales<br /> El distribuidor deberá tener al menos 12 frontales activos y junto con su red hasta el 5o nivel desplazar 80 cajas
                como mínimo al mes<br />
                <br /><br />GRADO RUBI<br /> 3 productos de la línea B y 3 de la línea premier 4x3 para ti y 1 persona de tu red que elijas<br /> El distribuidor deberá tener al menos 16 frontales activos y junto con su red hasta el 5º nivel desplazar
                120 cajas como mínimo al mes<br />
                <br /><br />GRADO DIAMANTE<br /> 3 productos de la línea B y 3 de la línea premier 4x3 para ti y 2 personas de tu red que tu elijas<br /> El distribuidor deberá tener al menos 20 frontales activos y junto con su red hasta el 5o nivel desplazar
                200 cajas como mínimo al mes<br />
                <br /><br />DIAMANTE ROSA<br /> 3 productos de la línea B y 3 de la línea premier 4x3 para ti y 3 personas de tu red que tu elijas.<br /> El distribuidor deberá tener al menos 25 frontales activos y junto con su red hasta el 5o nivel desplazar
                350 cajas como mínimo al mes<br />
                <br /><br />DIAMANTE NEGRO<br /> 3 productos de la línea B y 3 de la línea premier 4x3 para ti y 4 personas de tu red que tu elijas.<br /> El distribuidor deberá tener al menos 30 frontales activos y junto con su red hasta el 5º nivel
                desplazar 500 cajas como mínimo al mes.<br /> Los productos que elijas como promoción serán los mismos que podrás compartir con alguien de tu red en caso de que tu grado activo lo permita.
                <br /><br />
                <b> **No aplica en inversiones</b><br />
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title class="text-b pt15">¿TIENES UN PROSPECTO? <br> ¡ESTO TE INTERESA!</ion-card-title>
                <img *ngIf="user.tipo!=2" src="../../../assets/images/ejecutiva/empresaynegocio/negocio/interior/inicia/HGC_REUNLINEA.png" alt="">
                <img *ngIf="user.tipo==2" src="../../../assets/images/rosa/FRONT/HGC_RLINEAINFERIOR.png" alt="" height="5px">
            </ion-card-header>

            <ion-card-content class="text-b pt15 pt12 ion-text-justify">
                <br />PREMIO DE RECLUTAMIENTO<br /> Cada distribuidor que traiga 1 persona nueva a HGC y se inscriba, recibirá el 10%, de la primera compra que haga el nuevo distribuidor a su nombre, en puntos verdes. *No aplica en promociones ni en inversiones.
                <br />
                <br />PREMIO DE ARRANQUE<br /> Si te inscribes y en tu primer mes compras al menos 2 cajas comisionables a tu nombre, HGC te reembolsará el 10% en puntos verdes, el siguiente periodo, para que sigas invirtiendo en tu negocio.
                <br />
                <br />SI QUIERES SER PARTE DE ALGUN PREMIO O GRADO CONSIDERA LO SIGUIENTE:<br /> Las mejoras de este nuevo plan de negocios estarán vigentes a partir del 15 de diciembre del 2019 y hasta nuevo aviso. Para ganar cualquier premio o privilegio
                de algún grado, antes que nada es necesario avisar al corporativo HGC para contemplarle así como tener al menos 3 meses con el grado actual activo, de lo contrario no se le tomará en cuenta, se revisará mensualmente su cumplimiento, usted
                debe tener el número de frontales así como desplazar el número de activaciones dicho en la tabla que se muestra más adelante, considerando que para usted estar activo debe comprar mínimo una caja al mes ($4,400.00 + impuestos); una vez
                cumplido el premio o grado se entregará de 3 a 6 meses después según informe el corporativo, debido a la agenda de eventos y siendo sometido a revisión y autorización para asegurar que se haya cumplido tal cual se establecieron las reglas.
                La empresa considera como parte de tu red o grupo de distribuidores, solamente a los que se encuentren hasta el 5º nivel. Se entiende que para seguir vigente en tu grado y aspirar a un grado mayor, se tienen que mantener las cantidades
                mínimas por mes y seguir duplicando tu red sin dejarte de activar en ninguna ocasión. En caso de rangos será obligatoria la doble activación, pero la segunda caja no contara como profundidad, siendo considerada como parte de la activación.<br
                />
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
<ion-tab-bar slot="bottom">
    <ion-tab-button (click)="navigate2('inicio')">
        <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="log==1" (click)="navigate2('carrito')">
        <img *ngIf="user.tipo==2" src="../../../assets/images/rosa/FRONT/HGC_RZAPATILLA.png" style="width: 100%; max-width: 35px;" alt="">
        <ion-icon *ngIf="user.tipo!=2" name="cart-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="log==1" (click)="navigate2('busqueda')">
        <ion-icon name="search"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="log==1" (click)="navigate2('favoritos')">
        <ion-icon name="heart"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="letra(-1)">
        <ion-icon name="remove-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="letra(1)">
        <ion-icon name="add-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="log" (click)="abrirlibro()">
        <ion-icon name="book-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="log" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
    </ion-tab-button>
</ion-tab-bar>