<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <img src="{{ img }}" alt="" width="120px">
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding class="background1">
    <div class="title pt18">
        Aviso de Privacidad HGC
    </div>
    <ion-list>
        <ion-card>
            <ion-card-content class="text-b pt12 ion-text-justify">
                HGC, con domicilio en Ignacio Zaragoza numero 829 zona centro en Aguascalientes, Aguascalientes, México, es responsable del tratamiento de sus datos personales, por lo que es importante lea el contenido completo de éste aviso: <br />
                <!--<img />-->
                <p class="text-b pt12">Podrá contactarnos por medio de los siguientes medios:</p><br /> Domicilio: Ignacio Zaragoza # 829, Zona Centro, C.P. 20000 <br /> Aguascalientes, Aguascalientes. <br /> Correo electrónico: info@hgc.mx o contratos@hgc.mx <br /> Teléfonos:
                (449) 917-65-40 <br /> Cel: 449-217-3119 <br /> Se le informa que sus datos personales serán utilizados para las siguientes finalidades: <br /> Proveer los servicios y productos requeridos por usted. <br /> Informar sobre cambios o nuevos
                productos o servicios. <br /> Los derechos que estén relacionados con el contratado, el cliente y/o distribuidor. <br /> Dar cumplimiento a obligaciones contraídas de nuestros clientes o distribuidores. <br /> Evaluar la calidad del servicio.
                <br /> Realizar estudios internos sobre hábitos de consumo. <br /> Considerarlo en nuestras promociones. <br /> Invitarlo y considerarlo en eventos. <br /> Invitarlo y considerarlo en festejos y fiestas. <br /> Para las finalidades señaladas
                en el presente aviso de privacidad, podemos recabar sus datos personales de distintas formas como las siguientes: <br /> Cuando visita nuestro sitio de Internet o página web. <br /> Cuando utiliza nuestros servicios en línea o redes sociales
                (Facebook, whats app, twiter, entre otros). <br /> Y cuando obtenemos información a través de otras fuentes que están permitidas por la ley (encuestas, cuestionarios, entrevistas, sondeos, etc). <br /> Cuando usted nos los proporciona
                directamente (usted mismo nos los proporciona por diversos medios, como cuando: llena su contrato de distribuidor independiente, participa en eventos o promociones y nos da información con objeto de que le prestemos un servicio, otorguemos
                algún descuento o participe para ganarse alguna promoción. Los datos que obtenemos por este medio pueden ser, entre otros): <br />

                <ul>
                    <li>Nombre</li>
                    <li>Domicilio</li>
                    <li>RFC </li>
                    <li>Email</li>
                    <li>Curp</li>
                    <li>Número de cuenta bancaria o Clabe interbancaria </li>
                    <li>Teléfono</li>
                    <li>Celular</li>
                    <li>Edad o Fecha de Nacimiento </li>
                    <li>Celular</li>
                    <li>Referencias (Personas que lo conozcan, como su: Patrocinador, Amigos, Familiares indirectos o directos) </li>
                    <li>RFC (en caso de que aplique) </li>
                </ul>
                <br /> Datos personales que recabamos cuando visita nuestro sitio de Internet o utiliza nuestros servicios en línea: <br />

                <ul>
                    <li>Nombre</li>
                    <li>Domicilio</li>
                    <li>RFC </li>
                    <li>Email</li>
                    <li>Curp</li>
                    <li>Número de cuenta bancaria o Clabe interbancaria </li>
                    <li>Teléfono</li>
                    <li>Celular</li>
                    <li>Edad o Fecha de Nacimiento </li>
                    <li>Celular</li>
                    <li>Referencias (Personas que lo conozcan, como su: Patrocinador, Amigos, Familiares indirectos o directos) </li>
                    <li>RFC (en caso de que aplique) </li>
                </ul>
                <br /> Le informamos que, para cumplir con las finalidades previstas en este aviso de privacidad, serán recabados y tratados datos personales sensibles, como aquéllos que refieren a su identidad a través de una fotografía, tus hábitos
                de consumo o estado de salud. Nos comprometemos a que los mismos serán tratados bajo las más estrictas medidas de seguridad que garanticen su confidencialidad. <br /> De conformidad con lo que establece el artículo 9 de la Ley en cita,
                requerimos de su consentimiento expreso para el tratamiento de sus datos personales sensibles, por lo por lo que daremos por hecho su aceptación si nos manda fotos o scan de documentos como: IFE, Comprobantes de domicilio, CURP, Estados
                de cuenta bancarios o cedulas del SAT y los vincule hacía algún contrato de distribuidor independiente por medio de correo electrónico a: info@hgc.mx o contratos@hgc.mx que son los correos de contacto de la empresa y usted nos exprese
                instrucciones correspondientes (las cuales primero que nada serán corroboradas por nuestro personal, siguiendo el proceso de alta de nuevos distribuidores) y poner el: Nombre y firma autógrafa del titular. <br /> Usted puede dejar de recibir
                mensajes promocionales por: email, whats app, Facebook, teléfono fijo o celular siguiendo los siguientes pasos: <br /> Enviar un correo electrónico a la dirección info@hgc.mx o contratos@hgc.mx argumentando que: “QUIERE DEJAR DE RECIBIR
                INFORMACION O MENSAJES DE LA EMPRESA” e informándonos el medio correspondiente. En el caso de que sean varios o todos tiene que describir cada uno en el mismo correo. <br /> Llamar a los teléfonos de oficina (449)917-6540 para confirmar
                que: su correo fue recibido y procesado para evitar que le manden información que no le corresponde o que no desea recibir. <br />
                <br /><br /><br /> Usted tiene derecho de:
                <br /><br />Acceder a sus datos personales que poseemos y a los detalles del tratamiento de los mismos.
                <br /> A rectificar los datos en caso de ser inexactos o incompletos
                <br /> A cancelarlos cuando considere que no se requieren para alguna de las finalidades señaladas en el presente aviso de privacidad.
                <br /> A cancelarlos cuando estén siendo utilizados para finalidades no consentidas o haya finalizado la relación contractual o de servicio y por oponerse al tratamiento de los mismos para fines específicos.
                <br /> Los mecanismos que se han implementado para el ejercicio de dichos derechos son a través de la presentación de la solicitud respectiva en 2 pasos:
                <br /> Enviar un correo electrónico a nuestras direcciones: info@hgc.mx o contratos@hgc.mx SOLICITANDO LO ANTERIOR SEGÚN SEA CADA CASO.
                <br /> Llamar a los teléfonos de oficina para confirmar que su correo fue recibido y procesado, esperar la autorización y confirmación de que se cumpla lo solicitado.
                <br /> Su solicitud deberá contener la siguiente información:
                <br /> Motivo (detallarlo y ser especifico)
                <br /> Firmarlo (incluir su nombre completo y firma autógrafa las páginas respectivas y la firma deberá ser igual a su identificación que tengamos)
                <br /> Los plazos para atender su solicitud son los siguientes: 72 horas hábiles a partir de haber marcado a le empresa.
                <br /> Para mayor información, favor de visitar nuestra página de Internet www.hgc.mx o enviar un email a: info@hgc.mx o contratos@hgc.mx solicitando lo que necesite.
                <br /> Sus datos personales pueden ser transferidos y tratados dentro y fuera del país, por personas distintas a esta empresa. En ese sentido, su información puede ser compartida con distribuidores que formen parte de la empresa, para
                actividades recreativas o para beneficio de usted. Nos comprometemos a no transferir su información personal a terceros sin su consentimiento, salvo las excepciones previstas en el artículo 37 de la Ley Federal de Protección de Datos Personales
                en Posesión de los Particulares, así como a realizar esta transferencia (salvo en los casos del artículo 37 de la Ley).
                <br /> Las transferencias nacionales o internacionales de datos podrán llevarse a cabo sin el consentimiento del titular cuando se dé alguno de los siguientes supuestos:
                <br /> Cuando la transferencia esté prevista en una Ley o Tratado en los que México sea parte.
                <br /> Cuando la transferencia sea necesaria para la prevención o el diagnóstico médico, la prestación de asistencia sanitaria, tratamiento médico o la gestión de servicios sanitarios.
                <br /> Cuando la transferencia sea efectuada a sociedades controladoras, subsidiarias o afiliadas bajo el control común del responsable, una sociedad matriz o a cualquier sociedad del mismo grupo del responsable que opere bajo los mismos
                procesos y políticas internas.
                <br /> Cuando la transferencia sea necesaria por virtud de un contrato celebrado o por celebrar en interés del titular, por el responsable y un tercero.
                <br /> Cuando la transferencia sea necesaria o legalmente exigida para la salvaguarda de un interés público, o para la procuración o administración de justicia.
                <br /> Cuando la transferencia sea precisa para el reconocimiento, ejercicio o defensa de un derecho en un proceso judicial.
                <br /> Cuando la transferencia sea precisa para el mantenimiento o cumplimiento de una relación jurídica entre el responsable y el titular.
                <br /> Si usted no manifiesta su oposición por escrito para que sus datos personales sean transferidos, se entenderá que ha otorgado su consentimiento. Para manifestar la oposición deberá enviar un correo electrónico con sus datos a: info@hgc.mx
                o contratos@hgc.mx indicando la siguiente leyenda:
                <br /> “No consiento que mis datos personales sean transferidos en los términos que señala el presente aviso de privacidad”.
                <br /> En virtud de que transferiremos datos personales sensibles, requerimos de su consentimiento expreso, de conformidad con lo que establece el artículo 9 de la Ley en cita, por lo que daremos por hecho su aceptación si nos manda fotos
                o scan de documentos como: IFE, Comprobantes de domicilio, CURP, Estados de cuenta bancarios o cedulas del SAT y los vincule hacía algún contrato de distribuidor independiente por medio de correo electrónico a: info@hgc.mx o contratos@hgc.mx
                que son los correos de contacto de la empresa y usted nos exprese instrucciones correspondientes (las cuales primero que nada serán corroboradas por nuestro personal, siguiendo el proceso de alta de nuevos distribuidores). En el caso de
                información previa existente sólo se le pedirá confirmar que nos envíe la siguiente leyenda desde su email:
                <br /> “Consiento que mis datos personales sensibles sean transferidos conforme a los términos y condiciones del presente aviso de privacidad” y nos escriba su nombre completo en dicho correo (como nombre y firma autógrafa del titular).
                <br /> Nos reservamos el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente aviso de privacidad, para la atención de: novedades legislativas, políticas internas o nuevos requerimientos para la prestación
                u ofrecimiento de nuestros servicios o productos. Estas modificaciones estarán disponibles al público a través de los siguientes medios:
                <br /> Anuncios visibles en nuestros establecimientos o centros de atención a clientes;
                <br /> Trípticos o folletos disponibles en nuestros establecimientos o centros de atención a clientes;
                <br /> Página de Internet o redes sociales
                <br /> O se las haremos llegar al último correo electrónico que nos haya proporcionado.
                <br /> NOTA: Las redes sociales (tales como: Facebook, Twitter y Whats app, entre otras) constituyen una plataforma de comunicación y de interconexión entre plataformas digitales de los distintos usuarios, son ajenas a HGC y por lo tanto,
                no se encuentran bajo su responsabilidad, sólo se consideran un medio de comunicación entre usted y la empresa.
                <br /> La información que proporciones dentro de redes sociales en las que HGC participa como usuario no constituye ni forma parte de los Datos Personales sujetos a la protección de este Aviso de Privacidad, siendo responsabilidad de la
                empresa prestadora de esa plataforma y de quien la pública.
                <br /> Le informamos que utilizamos cookies y web beacons para obtener información personal de usted, como la siguiente: su tipo de navegador y sistema operativo. Las páginas de Internet que visita. Los vínculos que sigue. La dirección
                IP. El sitio que visitó antes de entrar al nuestro.
                <br /> Si usted considera que su derecho de protección de datos personales ha sido lesionado por alguna conducta de nuestros empleados o de nuestras actuaciones o respuestas, presume que en el tratamiento de sus datos personales existe
                alguna violación a las disposiciones previstas en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, podrá interponer la queja o denuncia correspondiente ante el IFAI, para mayor información visite http://inicio.ifai.org.mx/SitePages/ifai.aspx
            </ion-card-content>
        </ion-card>
        <br />
    </ion-list>
</ion-content>

<ion-tab-bar slot="bottom">
    <ion-tab-button (click)="navigate2('inicio')">
        <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="log==1" (click)="navigate2('carrito')">
        <img *ngIf="user.tipo==2" src="../../../assets/images/rosa/FRONT/HGC_RZAPATILLA.png" style="width: 100%; max-width: 35px;" alt="">
        <ion-icon *ngIf="user.tipo!=2" name="cart-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="log==1" (click)="navigate2('busqueda')">
        <ion-icon name="search"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="log==1" (click)="navigate2('favoritos')">
        <ion-icon name="heart"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="letra(-1)">
        <ion-icon name="remove-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="letra(1)">
        <ion-icon name="add-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="log" (click)="abrirlibro()">
        <ion-icon name="book-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="log" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
    </ion-tab-button>
</ion-tab-bar>