.title {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: Center;
    font-family: 'Chuck';
}

.text-a {
    font-family: 'Other';
    font-weight: bold;
    text-align: justify;
}

.text-b {
    font-family: 'Other';
    text-align: center;
    font-weight: bold;
}

.text-c {
    font-family: 'Other';
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    font-style: italic;
}

.fondo {
    background-color: #a1a1a1;
}

.img-pad {
    padding: 20px;
    align-items: center;
}