
.title{
    text-align: Center;
    font-family: 'Chuck';
}

.text-a{
    font-family: 'Other';
    font-weight: bold;
    text-align: center;
}

.text-b{
    font-family: 'Other';
    text-align: left;
    padding-left: 10px;
}


.text-c{
    font-family: 'Other';
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    font-style: italic;
    
}