<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="empresaynegocio"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <img src="{{ img }}" alt="" width="120px">
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding class="background1">
    <br>
    <ion-grid>
        <ion-row>
            <ion-col>
                <img [src]="'../../../assets/images/'+ngtipo+'/HGC_GLOSARIOLINEA2.png'" alt="" width="100%" style="float:left;margin-top: 15px;transform: rotate(180deg);">
            </ion-col>
            <ion-col class='title pt24'>
                &nbsp;INVERSIONES&nbsp;HGC&nbsp;
            </ion-col>
            <ion-col>
                <img [src]="'../../../assets/images/'+ngtipo+'/HGC_GLOSARIOLINEA2.png'" alt="" width="100%" style="float:right;margin-top: 15px;">
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list>
        <ion-card>
            <ion-card-content class="text-a pt13">
                ¿Quieres convertirte en un inversionista, cuentas con un capital y no sabes en que invertir? ¡Es momento de convertirte en un empresario HGC!!!<br /> Conoce nuestros 4 tipos de inversiones:
            </ion-card-content>
            <ul class="text-b pt13">
                <li>Básica</li>
                <li>Premier</li>
                <li>Maxi-inversión </li>
                <li>Maxiplatino</li>
            </ul>
        </ion-card>
        <ion-card>
            <img src="../../../assets/images/ejecutiva/empresaynegocio/escuela/HGC_INVERIMG1.jpg" alt="">
            <ion-card-header>
                <ion-card-title class="text-b pt15">INVERSIÓN BÁSICA</ion-card-title>
            </ion-card-header>
            <ion-card-content class="text-a pt13">
                Invierte $35,200.00 y te regalamos 2 cajas de producto<br /> Invierte en producto comisionable + impuestos y gastos de envió y obtén increíbles beneficios.<br /> 1 Activa todo a nombre de uno de tus frontales<br /> 2 Elige el producto
                que tú quieras (los regalos y souvenirs se ajustan de acuerdo a existencias en almacén HGC.)<br /> HGC TE REGALA: 2 CAJAS DE PRODUCTO VARIADO DE LA LINEA BASICA HGC (MAXIMO 1 CAJA POR PRODUCTO); ADEMAS, LLEVATE DE REGALO EL EQUIVALENTE
                A $500 EN SOUVENIRS COMO REGALO EXTRA.<br /> Este es un ejemplo de los beneficios que podrías generar CON TU INVERSIÓN<br /> ganancia por comisión = $9,240 <br> ganancia por cajas de regalo = $8,800 <br> ganancia por Souvenirs = $500 <br>                venta del producto de Regalo= $11,000 <br> producto de inversión equivalente a $35,200 en caso de desplazarlo a precio público en tu desayunador=$70,400 <br> Total=$99,940
                <br /> ¡Suma los beneficios haz recuperado tu inversión con un margen de ganancia de $64,740, QUE ESPERAS! <br />
            </ion-card-content>
        </ion-card>
        <ion-card>
            <img src="../../../assets/images/ejecutiva/empresaynegocio/escuela/HGC_INVERIMG2.jpg" alt="">
            <ion-card-header>
                <ion-card-title class="text-b pt15">INVERSIÓN PREMIER</ion-card-title>
            </ion-card-header>
            <ion-card-content class="text-a pt13">
                INVIERTE $57,200.00 y HGC te regala 4 cajas de productos + impuestos correspondientes de producto MAS GASTOS DE ENVIO.<br /> Elige:
                <br /> 2 PRODUCTOS DE LA LINEA PREMIER (ESBELDER, ESBELIN, CHIMALLI, EXOTIC, COLAGENO MALTEADA, ARANDALOE, HEPALIMP TÉ O DOLCE CARE) paga 3 cajas y te REGALAMOS LA 4ta AL 4X3<br /> Elige:
                <br /> 2 productos de Otras líneas deferentes de las anteriores Paga 3 cajas y te regalamos la 4ta según existencias; La caja comprada número 13, puede ser de producto variado (máximo ½ caja línea premier y ½ línea básica).<br /> *NOTA,
                ESTA CAJA NO APLICA PARA PROMOCIONES. <br /> Además, llévate de regalo el equivalente a $1,000 en souvenirs como regalo extra, los regalos y souvenirs se ajustan de acuerdo a existencias en almacén HGC.<br /> Este es un ejemplo de los
                beneficios que podrías generar con tu inversión:<br /> ganancia por comisión = $13,860 <br> ganancia por cajas de regalo = $17,600 <br> ganancia por Souvenirs = $1,000 <br> venta del producto de Regalo = $15,000 <br> producto de inversión
                equivalente a $57,200 en caso de desplazarlo a precio público en tu desayunador= $114,400 <br /> Total=$161,860
                <br /> SUMA LOS BENEFICIOS HAZ RECUPERADO TU INVERSION CON UN MARGEN DE GANANCIA DE $104,660.00 QUE ESPERAS. <br />
            </ion-card-content>
        </ion-card>
        <ion-card>
            <img src="../../../assets/images/ejecutiva/empresaynegocio/escuela/HGC_INVERIMG3.jpg" alt="">
            <ion-card-header>
                <ion-card-title class="text-b pt15">MAXI-INVERSIÓN</ion-card-title>
            </ion-card-header>
            <ion-card-content class="text-a pt13">
                INVIERTE $92,400.00 EN PRODUCTO COMISIONABLE + IMPUESTOS Y GASTOS DE ENVIO<br /> 1 Activa todo a nombre de uno de tus frontales<br /> 2 Elige 4 productos de la linea premier y 3 de la linea básica paga 3 cajas de cada una y te regalamos
                la 4 caja<br /> HGC te regala 7 cajas de producto variado<br /> Además, llévate de regalo el equivalente a $2,000 en souvenirs como regalo extra<br /> Este es un ejemplo de los beneficios que podrías generar con tu inversión:<br /> ganancia
                por comisión = $24,255 <br> ganancia por cajas de regalo = $30,800 <br> ganancia por Souvenirs = $2,000 <br> venta del producto de Regalo= $39,000 <br> producto de inversion equivalente a $92,400 en caso de desplazarlo a precio público
                en tu desayunador =$200,000 <br /> Total=$290,055
                <br /> ¡SUMA LOS BENEFICIOS!<br /> HAZ RECUPERADO TU INVERSION CON UN MARGEN DE GANANCIA DE $203,655 QUE ESPERAS <br />
            </ion-card-content>
        </ion-card>
        <ion-card>
            <img src="../../../assets/images/ejecutiva/empresaynegocio/escuela/HGC_INVERIMG4.jpg" alt="">
            <ion-card-header>
                <ion-card-title class="text-b pt15">INVERSIÓN MAXIPLATINO</ion-card-title>
            </ion-card-header>
            <ion-card-content class="text-a pt13">
                INVIERTE $132,000.00 (Activa todo a nombre de uno de tus frontales) + impuestos correspondientes de productos más gastos de envió HGC TE REGALA 10 CAJAS DE LA LINEA PREMIER<br /> Por cada 3 cajas que compres de 1 mismo producto (máximo
                5 PRODUCTOS de la línea premier y 5 de la básica) te regalamos 1 caja de producto a elegir de la línea premier<br /> ADEMAS, LLEVATE DE REGALO EL EQUIVALENTE A $3,000 EN SOUVENIRS COMO REGALO EXTRA <br /> LOS REGALOS Y SOUVENIRS SE AJUSTAN
                DE ACUERDO A EXISTENCIAS EN ALMACEN HGC <br /> Este es un ejemplo de los beneficios que podrías generar con tu inversión:<br /> ganancia por comisión = $34,650 <br> ganancia por cajas de regalo = $44,000 <br> ganancia por Souvenirs = $3,000
                <br> venta del producto de Regalo= $53,000 <br> producto de inversión equivalente a $132,000 en caso de desplazarlo a precio público en tu desayunador = $290,000 <br> Total=$424,650
                <br /> SUMA LOS BENEFICIOS<br /> ¡HAZ RECUPERADO TU INVERSION CON UN MARGEN DE GANANCIA DE $292,650 QUE ESPERAS! <br />
            </ion-card-content>
        </ion-card>
        <ion-card>
            <img src="../../../assets/images/ejecutiva/empresaynegocio/escuela/HGC_INVERIMG5.jpg" alt="">
            <ion-card-header>
                <ion-card-title class="text-b pt15">¿QUIERES GANAR MAS?</ion-card-title>
                <img *ngIf="user.tipo!=2" src="../../../assets/images/ejecutiva/empresaynegocio/negocio/interior/inicia/HGC_REUNLINEA.png" alt="">
                <img *ngIf="user.tipo==2" src="../../../assets/images/rosa/FRONT/HGC_RLINEAINFERIOR.png" alt="" height="5px">
            </ion-card-header>
            <ion-card-content class="text-a pt13">
                PUEDES GANAR PREMIOS POR INVERSIONES CONSECUTIVAS <br /> Si haces 3 inversiones iguales durante el mismo periodo con el mismo acomodo recibiras: Básica: 1 caja de producto de la línea B no comisionable. premier: 1 caja de producto de la
                línea premier no comisionable Maxi-inversión: 2 cajas de producto de la línea B no comisionable Platino: 2 cajas de producto de la línea premier NO COMISIONABLE.<br /> *Si haces 3 inversiones en 3 periodos diferentes de forma consecutiva
                con el mismo acomodo recibiras:<br />

                <li>Básica: 1/2 caja de producto de la línea B no comisionable.</li>
                <li>Premier 1/2 caja de producto premier no comisionable.</li>
                <li>Maxi-inversión: 1 caja de producto de la línea B no comisionable</li>
                <li>Maxiplatino: 1 caja de producto premier no comisionable.</li>
                <br />
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>

<ion-tab-bar slot="bottom">
    <ion-tab-button (click)="navigate2('inicio')">
        <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="log==1" (click)="navigate2('carrito')">
        <img *ngIf="user.tipo==2" src="../../../assets/images/rosa/FRONT/HGC_RZAPATILLA.png" style="width: 100%; max-width: 35px;" alt="">
        <ion-icon *ngIf="user.tipo!=2" name="cart-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="log==1" (click)="navigate2('busqueda')">
        <ion-icon name="search"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="log==1" (click)="navigate2('favoritos')">
        <ion-icon name="heart"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="letra(-1)">
        <ion-icon name="remove-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="letra(1)">
        <ion-icon name="add-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="log" (click)="abrirlibro()">
        <ion-icon name="book-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button *ngIf="log" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
    </ion-tab-button>
</ion-tab-bar>